#Board {
    height: 100%;
    padding: 6vh 2% 40px 12%;
    display: grid;
    grid-auto-flow: dense;
    gap: 20px 20px;
    grid-auto-columns: 9.6cm;
    grid-template-columns: repeat(auto-fit, minmax(0, 9.6cm));
    width: 86%;
    background-color: rgb(66, 66, 61);
}

.BoardEntryWrapper {
    border-color: white;
    border-width: 1px;
    border-style: solid;
    background-color: darkslategrey;
    /* border-bottom-left-radius: 14px;
    border-top-right-radius: 14px; */
    padding-bottom: 0;
    /* overflow: unset; */
}


.Entry1 {
    width: 9.6cm;
    height: 9.6cm;
    grid-column: span 1;
    grid-row: span 1;
    aspect-ratio: 1;
}


.Entry2 {
    grid-column: span 2;
    grid-row: span 1;

    height: 9.6cm;
    aspect-ratio: 2.05;
}


.Entry3 {
    grid-row: span 2;
    grid-column: span 1;
    width: 9.6cm;
    aspect-ratio: 0.488;
}

.Entry4 {
    /* width: 19.7cm; */
    grid-row: span 2;
    grid-column: span 2;
    aspect-ratio: 1;
}

.BoardEntryElement {
    overflow-x: none;
    height: 100%;
    overflow-y: hidden;

}