#NoteContainer {
    height: inherit;
}

.NoteContainerCell {
    margin: 20px 20px 18px 20px;
    border-style: inset;
    border-radius: 6px;
    min-height: 30px;
    background-color: rgb(39, 62, 82);
}

.NoteContainerCell_Indicator {
    height: 100%;
    width: 2%;
    float: left;
    background-color: red;
}

.NoteContainerCell_Text {
    margin: 6px 6px auto;
    float: left;
    color: lightblue;
    height: 40%;
}